<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDos List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="./public/css/style.css">
  <script src="./public/js/script.js"></script>
  <script src="https://kit.fontawesome.com/74106c76f4.js" crossorigin="anonymous"></script>
</head>
<body class="back">
  <div class="container">
    <div class="row mt-2">
      <h1 class="title">Todos List</h1>
      <!-- Model Start -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add Todos</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <form action="/addtodo" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="" class="form-label">Todo Name:</label>
                  <input type="text" class="form-control" name="todoname" id="todoname">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Todo Desc:</label>
                  <input type="text" class="form-control" name="tododesc" id="tododesc">
                </div>
                <div class="mb-3">
                  <label for="myfile" class="form-label">Select a file:</label>
                  &nbsp; &nbsp;
                  <label for="myfile"> 
                    <i class="fa-solid fa-2x fa-arrow-up-from-bracket"></i>
                  </label>
                  <input type="file" id="myfile" class="form-control" name="myfile" multiple="multiple" style="display:none;" >
                </div>
                <div class="mb-3">
                  <input type="submit" value="Add Todo" class="form-control btn btn-success">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- second model -->
      <!-- The Modal -->
      <div class="modal fade" id="atcModal">
        <div class="modal-dialog">
          <div class="modal-content" style="width: 17rem;">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Manage Todos</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="atcbody">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 todo-column" id="todo">
        <h1>Todos</h1>
        {{range .todos}}
        {{ if eq .Stage "todo"}}
        <div class="card mb-3 todo-class" style="width: 15rem; background-color:#E3F4F4;" id="{{.Id}}"
          onclick="getMoreData(this)">
          {{if ne (len .Attachments) 0}}
          {{range .Attachments}}
          <img src="{{.Files}}"  class="card-img-top" alt="..." data-bs-toggle="modal" data-bs-target="#atcModal">
          {{break}}

          {{end}}
          {{else}}
          <img src="./assets/images/todo.jpg" class="card-img-top" alt="..." data-bs-toggle="modal"
            data-bs-target="#atcModal">

          {{end}}
          <div class="card-body">
            <h5 class="card-title">{{.Todoname}}</h5>
            <p class="card-text">{{.Tododesc}}</p>

            <select name="stage" id="{{.Id}}" onchange="stateChange(this)" class="select-design">
              <option value="" selected disabled>Move to</option>
              <option value="hold">On Hold</option>
              <option value="progress">Progress</option>
              <option value="completed">Completed</option>
            </select>
          </div>
        </div>
        {{end}}
        {{end}}
        <p class="btn btn-add" data-bs-toggle="modal" data-bs-target="#myModal">Add ToDos</p>

      </div>
      <div class="col-3 todo-column" id="hold">
        <h1>On Hold</h1>
        {{range .todos}}
        {{ if eq .Stage "hold"}}
        <div class="card mb-3 hold" style="width: 15rem;" id="{{.Id}}" onclick="getMoreData(this)">
          {{if ne (len .Attachments) 0}}
          {{range .Attachments}}
          <img src="{{.Files}}" class="card-img-top" alt="..." data-bs-toggle="modal" data-bs-target="#atcModal">
          {{break}}

          {{end}}
          {{else}}
          <img src="./assets/images/todo.jpg" class="card-img-top" alt="..." data-bs-toggle="modal"
            data-bs-target="#atcModal">

          {{end}}
          <div class="card-body">
            <h5 class="card-title">{{.Todoname}}</h5>
            <p class="card-text">{{.Tododesc}}</p>
            <select name="stage" id="{{ .Id}}" onchange="stateChange(this)" class="select-design">
              <option value="" selected disabled>Move to</option>
              <option value="progress">Progress</option>
              <option value="completed">Completed</option>
            </select>
          </div>
        </div>
        {{end}}
        {{end}}
      </div>
      <div class="col-3 todo-column" id="progress">
        <h1>In Progress</h1>
        {{range .todos}}
        {{ if eq .Stage "progress"}}
        <div class="card mb-3 prog" style="width: 15rem;" id="{{.Id}}" onclick="getMoreData(this)">
          {{if ne (len .Attachments) 0}}
          {{range .Attachments}}
          <img src="{{.Files}}" class="card-img-top" alt="..." data-bs-toggle="modal" data-bs-target="#atcModal">
          {{break}}

          {{end}}
          {{else}}
          <img src="./assets/images/todo.jpg" class="card-img-top" alt="..." data-bs-toggle="modal"
            data-bs-target="#atcModal">

          {{end}}
          <div class="card-body">
            <h5 class="card-title">{{.Todoname}}</h5>
            <p class="card-text">{{.Tododesc}}</p>
            <select name="stage" id="{{ .Id}}" onchange="stateChange(this)" class="select-design">
              <option value="" selected disabled>Move to</option>
              <option value="hold">On Hold</option>
              <option value="completed">Completed</option>
            </select>
          </div>
        </div>
        {{end}}
        {{end}}
      </div>
      <div class="col-3 todo-column" id="complete">
        <h1>Completed</h1>
        {{range .todos}}
        {{ if eq .Stage "completed"}}
        <div class="card mb-3 completed" style="width: 15rem;" id="{{.Id}}" onclick="getMoreData(this)">
          {{if ne (len .Attachments) 0}}
          {{range .Attachments}}
          <img src="{{.Files}}" class="card-img-top" alt="..." data-bs-toggle="modal" data-bs-target="#atcModal">
          {{break}}

          {{end}}
          {{else}}
          <img src="./assets/images/todo.jpg" class="card-img-top" alt="..." data-bs-toggle="modal"
            data-bs-target="#atcModal">

          {{end}}
          <div class="card-body">
            <h5 class="card-title">{{.Todoname}}</h5>
            <p class="card-text">{{.Tododesc}}</p>
            <select name="stage" id="{{ .Id}}" onchange="stateChange(this)" class="select-design">
              <option value="" selected disabled>Move to</option>
              <option value="hold">On Hold</option>
              <option value="progress">Progress</option>
            </select>
          </div>
        </div>
        {{end}}
        {{end}}
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
</html>